In [1]:
framingham_data <- read.csv("datasets/framingham.csv")

In [2]:
t(head(framingham_data))

                1      2      3      4      5     6
male              1.00   0.00   1.00   0.00   0.0   0.0
age              39.00  46.00  48.00  61.00  46.0  43.0
education         4.00   2.00   1.00   3.00   3.0   2.0
currentSmoker     0.00   0.00   1.00   1.00   1.0   0.0
cigsPerDay        0.00   0.00  20.00  30.00  23.0   0.0
BPMeds            0.00   0.00   0.00   0.00   0.0   0.0
prevalentStroke   0.00   0.00   0.00   0.00   0.0   0.0
prevalentHyp      0.00   0.00   0.00   1.00   0.0   1.0
diabetes          0.00   0.00   0.00   0.00   0.0   0.0
totChol         195.00 250.00 245.00 225.00 285.0 228.0
sysBP           106.00 121.00 127.50 150.00 130.0 180.0
diaBP            70.00  81.00  80.00  95.00  84.0 110.0
BMI              26.97  28.73  25.34  28.58  23.1  30.3
heartRate        80.00  95.00  75.00  65.00  85.0  77.0
glucose          77.00  76.00  70.00 103.00  85.0  99.0
TenYearCHD        0.00   0.00   0.00   1.00   0.0   0.0

In [3]:
framingham_data["pulseP"] <- (framingham_data$sysBP - framingham_data$diaBP)

framingham_data_male   <- subset(framingham_data, (male==1 & age > 18 & BPMeds == 0), select=c(2,11:14,17))
framingham_data_female <- subset(framingham_data, (male==0 & age > 18 & BPMeds == 0), select=c(2,11:14,17))

In [4]:
head(framingham_data_male)

   age sysBP diaBP BMI   heartRate pulseP
1  39  106.0  70   26.97 80        36.0
3  48  127.5  80   25.34 75        47.5
9  52  141.5  89   26.36 76        52.5
10 43  162.0 107   23.61 93        55.0
13 46  142.0  94   26.31 98        48.0
17 48  138.0  90   22.37 64        48.0

In [5]:
head(framingham_data_female)

  age sysBP diaBP BMI   heartRate pulseP
2 46  121    81   28.73 95        40
4 61  150    95   28.58 65        55
5 46  130    84   23.10 85        46
6 43  180   110   30.30 77        70
7 63  138    71   33.11 60        67
8 45  100    71   21.68 79        29

In [6]:

pp_female1 <- lm(pulseP ~ age + BMI, data = framingham_data_female)
summary(pp_female1)

print("=====================")

pp_female2 <- lm(pulseP ~ age + BMI + heartRate, data = framingham_data_female)
summary(pp_female2)

Call:
lm(formula = pulseP ~ age + BMI, data = framingham_data_female)

Residuals:
    Min      1Q  Median      3Q     Max
-34.179  -8.623  -1.283   6.603  91.553

Coefficients:
            Estimate Std. Error t value Pr(>|t|)
(Intercept) -2.37378    2.06408  -1.150     0.25
age          0.78774    0.03311  23.789  < 2e-16 ***
BMI          0.52565    0.06374   8.246 2.73e-16 ***
---
Signif. codes:  0 '***' 0.001 '**' 0.01 '*' 0.05 '.' 0.1 ' ' 1

Residual standard error: 13.1 on 2277 degrees of freedom
  (13 observations deleted due to missingness)
Multiple R-squared:  0.2477,	Adjusted R-squared:  0.2471
F-statistic: 374.9 on 2 and 2277 DF,  p-value: < 2.2e-16

[1] "====================="

Call:
lm(formula = pulseP ~ age + BMI + heartRate, data = framingham_data_female)

Residuals:
    Min      1Q  Median      3Q     Max
-35.227  -8.704  -1.157   6.607  90.056

Coefficients:
             Estimate Std. Error t value Pr(>|t|)
(Intercept) -11.20639    2.63871  -4.247 2.25e-05 ***
age           0.79015    0.03292  24.003  < 2e-16 ***
BMI           0.50019    0.06354   7.872 5.37e-15 ***
heartRate     0.12134    0.02279   5.323 1.12e-07 ***
---
Signif. codes:  0 '***' 0.001 '**' 0.01 '*' 0.05 '.' 0.1 ' ' 1

Residual standard error: 13.03 on 2276 degrees of freedom
  (13 observations deleted due to missingness)
Multiple R-squared:  0.257,	Adjusted R-squared:  0.256
F-statistic: 262.4 on 3 and 2276 DF,  p-value: < 2.2e-16

In [7]:

pp_male1 <- lm(pulseP ~ age + BMI, data = framingham_data_male)
summary(pp_male1)

print("=======================")

pp_male2 <- lm(pulseP ~ age + BMI + heartRate, data = framingham_data_male)
summary(pp_male2)

Call:
lm(formula = pulseP ~ age + BMI, data = framingham_data_male)

Residuals:
    Min      1Q  Median      3Q     Max
-28.407  -7.906  -1.154   5.576  70.409

Coefficients:
            Estimate Std. Error t value Pr(>|t|)
(Intercept) 19.41515    2.68002   7.244 6.47e-13 ***
age          0.44985    0.03240  13.883  < 2e-16 ***
BMI          0.22087    0.08097   2.728  0.00644 **
---
Signif. codes:  0 '***' 0.001 '**' 0.01 '*' 0.05 '.' 0.1 ' ' 1

Residual standard error: 11.6 on 1762 degrees of freedom
  (5 observations deleted due to missingness)
Multiple R-squared:  0.1016,	Adjusted R-squared:  0.1006
F-statistic: 99.68 on 2 and 1762 DF,  p-value: < 2.2e-16

[1] "======================="

Call:
lm(formula = pulseP ~ age + BMI + heartRate, data = framingham_data_male)

Residuals:
    Min      1Q  Median      3Q     Max
-29.297  -7.790  -1.062   5.604  71.141

Coefficients:
            Estimate Std. Error t value Pr(>|t|)
(Intercept) 10.28534    3.08322   3.336 0.000868 ***
age          0.45157    0.03201  14.106  < 2e-16 ***
BMI          0.16487    0.08032   2.053 0.040245 *
heartRate    0.14137    0.02348   6.020 2.12e-09 ***
---
Signif. codes:  0 '***' 0.001 '**' 0.01 '*' 0.05 '.' 0.1 ' ' 1

Residual standard error: 11.44 on 1760 degrees of freedom
  (6 observations deleted due to missingness)
Multiple R-squared:  0.1182,	Adjusted R-squared:  0.1167
F-statistic: 78.62 on 3 and 1760 DF,  p-value: < 2.2e-16

In [8]:
housing_data <- read.csv("datasets/kc_house_data.csv",
                         header=TRUE)
str(housing_data)

'data.frame':	21613 obs. of  22 variables:
 $ X            : int  1 2 3 4 5 6 7 8 9 10 ...
 $ id           : num  7.13e+09 6.41e+09 5.63e+09 2.49e+09 1.95e+09 ...
 $ date         : Factor w/ 372 levels "20140502T000000",..: 165 221 291 221 284 11 57 252 340 306 ...
 $ price        : num  221900 538000 180000 604000 510000 ...
 $ bedrooms     : int  3 3 2 4 3 4 3 3 3 3 ...
 $ bathrooms    : num  1 2.25 1 3 2 4.5 2.25 1.5 1 2.5 ...
 $ sqft_living  : int  1180 2570 770 1960 1680 5420 1715 1060 1780 1890 ...
 $ sqft_lot     : int  5650 7242 10000 5000 8080 101930 6819 9711 7470 6560 ...
 $ floors       : num  1 2 1 1 1 1 2 1 1 2 ...
 $ waterfront   : int  0 0 0 0 0 0 0 0 0 0 ...
 $ view         : int  0 0 0 0 0 0 0 0 0 0 ...
 $ condition    : int  3 3 3 5 3 3 3 3 3 3 ...
 $ grade        : int  7 7 6 7 8 11 7 7 7 7 ...
 $ sqft_above   : int  1180 2170 770 1050 1680 3890 1715 1060 1050 1890 ...
 $ sqft_basement: int  0 400 0 910 0 1530 0 0 730 0 ...
 $ yr_built     : int  1955 1951 1933 1965 1987 2001 1995 1963 1960 2003 ...
 $ yr_renovated : int  0 1991 0 0 0 0 0 0 0 0 ...
 $ zipcode      : int  98178 98125 98028 98136 98074 98053 98003 98198 98146 98038 ...
 $ lat          : num  47.5 47.7 47.7 47.5 47.6 ...
 $ long         : num  -122 -122 -122 -122 -122 ...
 $ sqft_living15: int  1340 1690 2720 1360 1800 4760 2238 1650 1780 2390 ...
 $ sqft_lot15   : int  5650 7639 8062 5000 7503 101930 6819 9711 8113 7570 ...

In [9]:
houseprice_reg <- lm(price ~ sqft_living, data = housing_data)
summary(houseprice_reg)

Call:
lm(formula = price ~ sqft_living, data = housing_data)

Residuals:
     Min       1Q   Median       3Q      Max
-1476062  -147486   -24043   106182  4362067

Coefficients:
              Estimate Std. Error t value Pr(>|t|)
(Intercept) -43580.743   4402.690  -9.899   <2e-16 ***
sqft_living    280.624      1.936 144.920   <2e-16 ***
---
Signif. codes:  0 '***' 0.001 '**' 0.01 '*' 0.05 '.' 0.1 ' ' 1

Residual standard error: 261500 on 21611 degrees of freedom
Multiple R-squared:  0.4929,	Adjusted R-squared:  0.4928
F-statistic: 2.1e+04 on 1 and 21611 DF,  p-value: < 2.2e-16

In [10]:
houseprice_reg2 <- lm(price ~ sqft_living + bedrooms, data = housing_data)
summary(houseprice_reg2)

Call:
lm(formula = price ~ sqft_living + bedrooms, data = housing_data)

Residuals:
     Min       1Q   Median       3Q      Max
-1650867  -143866   -23143   102344  4179850

Coefficients:
              Estimate Std. Error t value Pr(>|t|)
(Intercept)  79469.359   6604.764   12.03   <2e-16 ***
sqft_living    313.949      2.337  134.31   <2e-16 ***
bedrooms    -57066.759   2308.223  -24.72   <2e-16 ***
---
Signif. codes:  0 '***' 0.001 '**' 0.01 '*' 0.05 '.' 0.1 ' ' 1

Residual standard error: 257800 on 21610 degrees of freedom
Multiple R-squared:  0.5068,	Adjusted R-squared:  0.5068
F-statistic: 1.11e+04 on 2 and 21610 DF,  p-value: < 2.2e-16

In [11]:
houseprice_reg3 <- lm(price ~ sqft_living + bedrooms + sqft_lot, data = housing_data)
summary(houseprice_reg3)

Call:
lm(formula = price ~ sqft_living + bedrooms + sqft_lot, data = housing_data)

Residuals:
     Min       1Q   Median       3Q      Max
-1578538  -143639   -22850   102992  4149420

Coefficients:
              Estimate Std. Error t value Pr(>|t|)
(Intercept)  8.278e+04  6.604e+03  12.536   <2e-16 ***
sqft_living  3.179e+02  2.376e+00 133.801   <2e-16 ***
bedrooms    -5.880e+04  2.312e+03 -25.428   <2e-16 ***
sqft_lot    -3.818e-01  4.307e-02  -8.866   <2e-16 ***
---
Signif. codes:  0 '***' 0.001 '**' 0.01 '*' 0.05 '.' 0.1 ' ' 1

Residual standard error: 257400 on 21609 degrees of freedom
Multiple R-squared:  0.5086,	Adjusted R-squared:  0.5085
F-statistic:  7455 on 3 and 21609 DF,  p-value: < 2.2e-16

In [12]:
houseprice_reg4 <- lm(price ~ sqft_living + bedrooms + sqft_lot + floors, data = housing_data)
summary(houseprice_reg4)

Call:
lm(formula = price ~ sqft_living + bedrooms + sqft_lot + floors,
    data = housing_data)

Residuals:
     Min       1Q   Median       3Q      Max
-1577821  -143544   -22590   102907  4150548

Coefficients:
              Estimate Std. Error t value Pr(>|t|)
(Intercept)  8.175e+04  7.674e+03  10.653   <2e-16 ***
sqft_living  3.177e+02  2.510e+00 126.577   <2e-16 ***
bedrooms    -5.877e+04  2.315e+03 -25.391   <2e-16 ***
sqft_lot    -3.810e-01  4.319e-02  -8.820   <2e-16 ***
floors       9.216e+02  3.479e+03   0.265    0.791
---
Signif. codes:  0 '***' 0.001 '**' 0.01 '*' 0.05 '.' 0.1 ' ' 1

Residual standard error: 257400 on 21608 degrees of freedom
Multiple R-squared:  0.5086,	Adjusted R-squared:  0.5085
F-statistic:  5591 on 4 and 21608 DF,  p-value: < 2.2e-16

In [13]:
houseprice_reg5 <- lm(price ~ sqft_living + bedrooms + sqft_lot + floors + bathrooms, 
                          data = housing_data)
summary(houseprice_reg5)

Call:
lm(formula = price ~ sqft_living + bedrooms + sqft_lot + floors +
    bathrooms, data = housing_data)

Residuals:
     Min       1Q   Median       3Q      Max
-1573404  -143855   -22380   102493  4148365

Coefficients:
              Estimate Std. Error t value Pr(>|t|)
(Intercept)  8.066e+04  7.696e+03  10.481   <2e-16 ***
sqft_living  3.143e+02  3.132e+00 100.355   <2e-16 ***
bedrooms    -5.953e+04  2.351e+03 -25.319   <2e-16 ***
sqft_lot    -3.788e-01  4.320e-02  -8.769   <2e-16 ***
floors      -1.758e+03  3.776e+03  -0.466   0.6415
bathrooms    6.958e+03  3.809e+03   1.827   0.0678 .
---
Signif. codes:  0 '***' 0.001 '**' 0.01 '*' 0.05 '.' 0.1 ' ' 1

Residual standard error: 257400 on 21607 degrees of freedom
Multiple R-squared:  0.5087,	Adjusted R-squared:  0.5086
F-statistic:  4474 on 5 and 21607 DF,  p-value: < 2.2e-16

In [14]:
houseprice_reg6 <- lm(price ~ sqft_living + bedrooms + sqft_lot + floors + bathrooms + waterfront + view, 
                      data=housing_data)
summary(houseprice_reg6)

Call:
lm(formula = price ~ sqft_living + bedrooms + sqft_lot + floors +
    bathrooms + waterfront + view, data = housing_data)

Residuals:
     Min       1Q   Median       3Q      Max
-1533199  -134322   -17631   101548  4229409

Coefficients:
              Estimate Std. Error t value Pr(>|t|)
(Intercept)  6.764e+04  7.277e+03   9.295   <2e-16 ***
sqft_living  2.818e+02  3.047e+00  92.496   <2e-16 ***
bedrooms    -4.645e+04  2.237e+03 -20.764   <2e-16 ***
sqft_lot    -3.893e-01  4.083e-02  -9.534   <2e-16 ***
floors       8.905e+03  3.580e+03   2.488   0.0129 *
bathrooms    6.604e+03  3.600e+03   1.835   0.0666 .
waterfront   5.529e+05  2.091e+04  26.445   <2e-16 ***
view         7.374e+04  2.464e+03  29.929   <2e-16 ***
---
Signif. codes:  0 '***' 0.001 '**' 0.01 '*' 0.05 '.' 0.1 ' ' 1

Residual standard error: 243200 on 21605 degrees of freedom
Multiple R-squared:  0.5613,	Adjusted R-squared:  0.5611
F-statistic:  3948 on 7 and 21605 DF,  p-value: < 2.2e-16

In [15]:
houseprice_reg7 <- lm(price ~ sqft_living + bedrooms + sqft_lot + floors + bathrooms + waterfront + view + zipcode, 
                     data=housing_data)

summary(houseprice_reg7)

Call:
lm(formula = price ~ sqft_living + bedrooms + sqft_lot + floors +
    bathrooms + waterfront + view + zipcode, data = housing_data)

Residuals:
     Min       1Q   Median       3Q      Max
-1574440  -132511   -17873   101050  4183409

Coefficients:
              Estimate Std. Error t value Pr(>|t|)
(Intercept) -3.684e+07  3.156e+06 -11.673  < 2e-16 ***
sqft_living  2.844e+02  3.045e+00  93.383  < 2e-16 ***
bedrooms    -4.585e+04  2.231e+03 -20.556  < 2e-16 ***
sqft_lot    -3.374e-01  4.095e-02  -8.240  < 2e-16 ***
floors       6.775e+03  3.573e+03   1.896  0.05797 .
bathrooms    1.054e+04  3.604e+03   2.926  0.00344 **
waterfront   5.555e+05  2.084e+04  26.652  < 2e-16 ***
view         6.956e+04  2.482e+03  28.027  < 2e-16 ***
zipcode      3.762e+02  3.216e+01  11.695  < 2e-16 ***
---
Signif. codes:  0 '***' 0.001 '**' 0.01 '*' 0.05 '.' 0.1 ' ' 1

Residual standard error: 242500 on 21604 degrees of freedom
Multiple R-squared:  0.564,	Adjusted R-squared:  0.5638
F-statistic:  3493 on 8 and 21604 DF,  p-value: < 2.2e-16

In [16]:
houseprice_reg8 <- lm(price ~ sqft_living + bedrooms + sqft_lot + floors + bathrooms + waterfront + view + zipcode + lat + long, 
                     data = housing_data)
summary(houseprice_reg8)

Call:
lm(formula = price ~ sqft_living + bedrooms + sqft_lot + floors +
    bathrooms + waterfront + view + zipcode + lat + long, data = housing_data)

Residuals:
     Min       1Q   Median       3Q      Max
-1598522  -110863   -10061    83489  4203954

Coefficients:
              Estimate Std. Error t value Pr(>|t|)
(Intercept) -1.484e+07  2.866e+06  -5.178 2.26e-07 ***
sqft_living  2.721e+02  2.776e+00  98.031  < 2e-16 ***
bedrooms    -4.189e+04  2.018e+03 -20.764  < 2e-16 ***
sqft_lot     1.200e-02  3.766e-02   0.319   0.7499
floors       6.861e+03  3.231e+03   2.123   0.0337 *
bathrooms    1.369e+04  3.255e+03   4.205 2.62e-05 ***
waterfront   5.715e+05  1.882e+04  30.358  < 2e-16 ***
view         7.079e+04  2.251e+03  31.449  < 2e-16 ***
zipcode     -6.390e+02  3.513e+01 -18.187  < 2e-16 ***
lat          7.338e+05  1.128e+04  65.027  < 2e-16 ***
long        -3.491e+05  1.327e+04 -26.308  < 2e-16 ***
---
Signif. codes:  0 '***' 0.001 '**' 0.01 '*' 0.05 '.' 0.1 ' ' 1

Residual standard error: 218900 on 21602 degrees of freedom
Multiple R-squared:  0.6447,	Adjusted R-squared:  0.6445
F-statistic:  3919 on 10 and 21602 DF,  p-value: < 2.2e-16