# Extra ways to summarize data

## Summarizing vectors

Vectors are summarized using measures of central tendency and variability. Let's look into other descriptive statistics for summarizing the vectors.

In [1]:
housing_prices <- read.csv("datasets/kc_house_data.csv")

In [2]:
t(head(housing_prices))

              1               2               3               4
X             1               2               3               4
id            7129300520      6414100192      5631500400      2487200875
date          20141013T000000 20141209T000000 20150225T000000 20141209T000000
price          221900          538000          180000          604000
bedrooms      3               3               2               4
bathrooms     1.00            2.25            1.00            3.00
sqft_living   1180            2570             770            1960
sqft_lot        5650            7242           10000            5000
floors        1               2               1               1
waterfront    0               0               0               0
view          0               0               0               0
condition     3               3               3               5
grade          7               7               6               7
sqft_above    1180            2170             770            1050
sqft_basement    0             400               0             910
yr_built      1955            1951            1933            1965
yr_renovated     0            1991               0               0
zipcode       98178           98125           98028           98136
lat           47.5112         47.7210         47.7379         47.5208
long          -122.257        -122.319        -122.233        -122.393
sqft_living15 1340            1690            2720            1360
sqft_lot15      5650            7639            8062            5000
              5               6
X             5               6
id            1954400510      7237550310
date          20150218T000000 20140512T000000
price          510000         1225000
bedrooms      3               4
bathrooms     2.00            4.50
sqft_living   1680            5420
sqft_lot        8080          101930
floors        1               1
waterfront    0               0
view          0               0
condition     3               3
grade          8              11
sqft_above    1680            3890
sqft_basement    0            1530
yr_built      1987            2001
yr_renovated     0               0
zipcode       98074           98053
lat           47.6168         47.6561
long          -122.045        -122.005
sqft_living15 1800            4760
sqft_lot15      7503          101930

apply(), lapply(), sapply(), tapply(), ddply() are some summarizing functions that we can use to apply functions on the columns

## APPLY()

The apply function is used to apply a function to the rows or columns of a matrix. It collapses either a row or a column. 1 represents row and 2 represents column. We'll try to apply the mean function for all columns so we're using 2.

In [4]:
# Date is a factor variable so we cannot apply the mean function onto a factor variable. The id column is just an identifier. 
# Let's exclude them

less_data <- housing_prices[, !names(housing_prices) %in% c("date", "id")]

In [5]:
apply(less_data, 2, mean)

            X         price      bedrooms     bathrooms   sqft_living
 1.080700e+04  5.400881e+05  3.370842e+00  2.114757e+00  2.079900e+03
     sqft_lot        floors    waterfront          view     condition
 1.510697e+04  1.494309e+00  7.541757e-03  2.343034e-01  3.409430e+00
        grade    sqft_above sqft_basement      yr_built  yr_renovated
 7.656873e+00  1.788391e+03  2.915090e+02  1.971005e+03  8.440226e+01
      zipcode           lat          long sqft_living15    sqft_lot15
 9.807794e+04  4.756005e+01 -1.222139e+02  1.986552e+03  1.276846e+04

In [10]:
colMeans(less_data) # much faster

# colMeans
# rowMeans
# colSums
# rowSums

            X         price      bedrooms     bathrooms   sqft_living
 1.080700e+04  5.400881e+05  3.370842e+00  2.114757e+00  2.079900e+03
     sqft_lot        floors    waterfront          view     condition
 1.510697e+04  1.494309e+00  7.541757e-03  2.343034e-01  3.409430e+00
        grade    sqft_above sqft_basement      yr_built  yr_renovated
 7.656873e+00  1.788391e+03  2.915090e+02  1.971005e+03  8.440226e+01
      zipcode           lat          long sqft_living15    sqft_lot15
 9.807794e+04  4.756005e+01 -1.222139e+02  1.986552e+03  1.276846e+04

Let's create a list using variables "bedrooms" and "bathrooms".

In [13]:
x <- list(housing_prices$bedrooms, housing_prices$bathrooms)

In [14]:
str(x)

List of 2
 $ : int [1:21613] 3 3 2 4 3 4 3 3 3 3 ...
 $ : num [1:21613] 1 2.25 1 3 2 4.5 2.25 1.5 1 2.5 ...

## LAPPLY()

lapply() is used when you want to apply a function to each element of a list. Hence...the L in Lapply. A list of values is returned back for every element of the list. lapply(x) returns a list of the same length of x

In [18]:
res <- lapply(x, FUN = mean)
res

[[1]]
[1] 3.370842

[[2]]
[1] 2.114757

In [19]:
class(res)

[1] "list"

## SAPPLY()

sapply() is used when you want to apply a function to each element of a list. In return, you will get a vector rather than a list. lapply() and sapply() are similar except for the return type of the result.

In [21]:
res <- sapply(less_data, mean)
res
class(res)

            X         price      bedrooms     bathrooms   sqft_living
 1.080700e+04  5.400881e+05  3.370842e+00  2.114757e+00  2.079900e+03
     sqft_lot        floors    waterfront          view     condition
 1.510697e+04  1.494309e+00  7.541757e-03  2.343034e-01  3.409430e+00
        grade    sqft_above sqft_basement      yr_built  yr_renovated
 7.656873e+00  1.788391e+03  2.915090e+02  1.971005e+03  8.440226e+01
      zipcode           lat          long sqft_living15    sqft_lot15
 9.807794e+04  4.756005e+01 -1.222139e+02  1.986552e+03  1.276846e+04

[1] "numeric"

In [23]:
res <- sapply(x, mean)
res
class(res)

[1] 3.370842 2.114757

[1] "numeric"

## MAPPLY()

mapply() is used when we have several data structures (vectors, lists, etc) and we want to apply a function to all columns in a row. The result is coerced into a vector/array as in sapply. 

For examples, there are different variables measuring different areas like sqft_living, sqft_lot, sqft_above, 
sqft_base, sqft_living15, sqft_lot15. If we want to find the total area of each house then we can use this function.

In [24]:
result <- mapply(sum, housing_prices$sqft_living, housing_prices$sqft_lot, housing_prices$sqft_above, housing_prices$sqft_basement, 
                    housing_prices$sqft_living15, housing_prices$sqft_lot15)

In [28]:
head(result, 10)
# the values in the mapply() for the first row = 1500....second row = 21711

 [1]  15000  21711  22322  15280  20743 219460  19306  23192  20923  20300

In [26]:
class(result)

[1] "integer"

## TAPPLY()

tapply() is used when you want to apply a function to subsets of a vector and the subsets are defined by some other vector, usually a factor. 

It is a tabular version of apply(), which means that its input argument should have a categorical variable and its argument function is applied to each group. 

For example, we may want to know the average price of homes for each number of bedrooms in the house

In [30]:
t(tapply(housing_prices$price, housing_prices$bedrooms, mean))

     0        1        2        3        4        5        6        7
[1,] 409503.8 317642.9 401372.7 466232.1 635419.5 786599.8 825520.6 951184.7
     8       9        10       11     33
[1,] 1105077 893999.8 819333.3 520000 640000

## BY()

tapply() can be used to summarize one variable based on another variable. But what if we want to summarize many variables. The by function is like an extended version of tapply() command.

In [31]:
byViews <- by(housing_prices[, c("price", "sqft_living")], housing_prices$view, summary)
byViews

housing_prices$view: 0
     price          sqft_living
 Min.   :  75000   Min.   : 290
 1st Qu.: 311000   1st Qu.:1390
 Median : 432500   Median :1850
 Mean   : 496564   Mean   :1998
 3rd Qu.: 600000   3rd Qu.:2450
 Max.   :5570000   Max.   :9200
------------------------------------------------------------
housing_prices$view: 1
     price          sqft_living
 Min.   : 217000   Min.   : 570
 1st Qu.: 498750   1st Qu.:1855
 Median : 690944   Median :2420
 Mean   : 812281   Mean   :2569
 3rd Qu.: 921250   3rd Qu.:3180
 Max.   :3650000   Max.   :6300
------------------------------------------------------------
housing_prices$view: 2
     price          sqft_living
 Min.   : 169317   Min.   :  470
 1st Qu.: 485000   1st Qu.: 1842
 Median : 675000   Median : 2470
 Mean   : 792401   Mean   : 2655
 3rd Qu.: 941250   3rd Qu.: 3250
 Max.   :7062500   Max.   :10040
------------------------------------------------------------
housing_prices$view: 3
     price          sqft_living
 Min.   : 154000   Min.   :  440
 1st Qu.: 554000   1st Qu.: 2210
 Median : 802500   Median : 2840
 Mean   : 971965   Mean   : 3019
 3rd Qu.:1256000   3rd Qu.: 3658
 Max.   :7700000   Max.   :12050
------------------------------------------------------------
housing_prices$view: 4
     price          sqft_living
 Min.   : 252000   Min.   :  680
 1st Qu.: 817500   1st Qu.: 2425
 Median :1185000   Median : 3050
 Mean   :1463711   Mean   : 3351
 3rd Qu.:1850000   3rd Qu.: 3911
 Max.   :6885000   Max.   :13540

## 2 way tables

2 way tables are very informative. We have distribution of bathrooms for every count of bedrooms. It is very detailed and the sums of columns and rows are displayed which indicate number of bedrooms or bathrooms with a specific number

In [32]:
# produces a 2 way table with distribution count of every combination between bedrooms and bathrooms. 
# addmargins() will give the summary or sum of this counts at the end of both x and y axis. 

bed_vs_bath <- table(housing_prices$bedrooms, housing_prices$bathrooms)
addmargins(bed_vs_bath)

    0  0.5 0.75 1    1.25 1.5  1.75 2    2.25 2.5  ... 5.5 5.75 6 6.25 6.5 6.75
0    7 0    1      1 0       1    0    0    0    3 ...  0  0    0 0    0   0
1    3 1   27    138 2      12    4    6    4    2 ...  0  0    0 0    0   0
2    0 2   26   1558 3     294  304  216  118  197 ...  0  0    0 0    0   0
3    0 0   16   1780 4     829 1870 1048 1082 2357 ...  0  0    0 0    0   0
4    0 1    2    325 0     254  719  525  709 2502 ...  5  1    0 0    0   0
5    0 0    0     43 0      48  134  110  116  287 ...  4  2    4 2    1   1
6    0 0    0      6 0       6   16   24   15   29 ...  0  0    1 0    1   0
7    0 0    0      1 0       2    0    0    3    2 ...  1  1    0 0    0   1
8    0 0    0      0 0       0    0    0    0    1 ...  0  0    1 0    0   0
9    0 0    0      0 0       0    0    0    0    0 ...  0  0    0 0    0   0
10   0 0    0      0 0       0    0    1    0    0 ...  0  0    0 0    0   0
11   0 0    0      0 0       0    0    0    0    0 ...  0  0    0 0    0   0
33   0 0    0      0 0       0    1    0    0    0 ...  0  0    0 0    0   0
Sum 10 4   72   3852 9    1446 3048 1930 2047 5380 ... 10  4    6 2    2   2
    7.5 7.75 8 Sum
0   0   0    0    13
1   0   0    0   199
2   0   0    0  2760
3   0   0    0  9824
4   0   0    0  6882
5   0   0    0  1601
6   0   1    1   272
7   0   0    1    38
8   0   0    0    13
9   1   0    0     6
10  0   0    0     3
11  0   0    0     1
33  0   0    0     1
Sum 1   1    2 21613

Here's the extended version of the table command...adding a 3rd dimension to the 2 way table.

In [33]:
bed_bath_view <- xtabs(~bedrooms + bathrooms + view, data = housing_prices)

In [34]:
bed_bath_view

, , view = 0

        bathrooms
bedrooms    0  0.5 0.75    1 1.25  1.5 1.75    2 2.25  2.5 2.75    3 3.25  3.5
      0     5    0    1    1    0    1    0    0    0    3    0    0    0    0
      1     3    1   23  127    1   12    4    5    3    2    0    0    0    0
      2     0    2   20 1465    3  274  264  203  105  176   17   13    5    1
      3     0    0   15 1737    2  785 1717  964 1001 2164  216  156  147  113
      4     0    1    1  309    0  237  642  484  649 2329  543  277  186  298
      5     0    0    0   41    0   44  117  104  101  257  192  136   92  119
      6     0    0    0    6    0    6   15   22   12   26   19   43    7   15
      7     0    0    0    1    0    2    0    0    3    2    3    2    1    3
      8     0    0    0    0    0    0    0    0    0    1    3    2    1    0
      9     0    0    0    0    0    0    0    0    0    0    0    2    0    0
      10    0    0    0    0    0    0    0    1    0    0    0    1    0    0
      11    0    0    0    0    0    0    0    0    0    0    0    1    0    0
      33    0    0    0    0    0    0    1    0    0    0    0    0    0    0
        bathrooms
bedrooms 3.75    4 4.25  4.5 4.75    5 5.25  5.5 5.75    6 6.25  6.5 6.75  7.5
      0     0    0    0    0    0    0    0    0    0    0    0    0    0    0
      1     0    0    0    0    0    0    0    0    0    0    0    0    0    0
      2     0    0    0    0    0    0    0    0    0    0    0    0    0    0
      3    13    4    3    1    0    0    0    0    0    0    0    0    0    0
      4    60   44   18   18    5    3    3    4    0    0    0    0    0    0
      5    30   38   16   27    5    4    2    0    2    2    1    1    0    0
      6     9    7    4   18    0    5    3    0    0    0    0    1    0    0
      7     2    5    0    2    2    0    0    1    0    0    0    0    0    0
      8     1    2    0    0    0    1    0    0    0    1    0    0    0    0
      9     0    1    0    2    0    0    0    0    0    0    0    0    0    1
      10    0    0    0    0    0    0    0    0    0    0    0    0    0    0
      11    0    0    0    0    0    0    0    0    0    0    0    0    0    0
      33    0    0    0    0    0    0    0    0    0    0    0    0    0    0
        bathrooms
bedrooms 7.75    8
      0     0    0
      1     0    0
      2     0    0
      3     0    0
      4     0    0
      5     0    0
      6     0    0
      7     0    0
      8     0    0
      9     0    0
      10    0    0
      11    0    0
      33    0    0

, , view = 1

        bathrooms
bedrooms    0  0.5 0.75    1 1.25  1.5 1.75    2 2.25  2.5 2.75    3 3.25  3.5
      0     0    0    0    0    0    0    0    0    0    0    0    0    0    0
      1     0    0    1    1    0    0    0    0    0    0    0    0    0    0
      2     0    0    1   23    0    5    7    4    0    2    0    0    0    0
      3     0    0    0    6    0   11   31   15   14   25    9    2    5    2
      4     0    0    0    1    0    5   12   12   15   19   15    7   10   19
      5     0    0    0    0    0    0    3    2    4    6    2    5    4    6
      6     0    0    0    0    0    0    0    1    0    1    0    0    1    0
      7     0    0    0    0    0    0    0    0    0    0    0    0    0    1
      8     0    0    0    0    0    0    0    0    0    0    0    0    0    0
      9     0    0    0    0    0    0    0    0    0    0    0    0    0    0
      10    0    0    0    0    0    0    0    0    0    0    0    0    0    0
      11    0    0    0    0    0    0    0    0    0    0    0    0    0    0
      33    0    0    0    0    0    0    0    0    0    0    0    0    0    0
        bathrooms
bedrooms 3.75    4 4.25  4.5 4.75    5 5.25  5.5 5.75    6 6.25  6.5 6.75  7.5
      0     0    0    0    0    0    0    0    0    0    0    0    0    0    0
      1     0    0    0    0    0    0    0    0    0    0    0    0    0    0
      2     0    0    0    0    0    0    0    0    0    0    0    0    0    0
      3     0    0    0    0    0    0    0    0    0    0    0    0    0    0
      4     1    1    4    0    0    0    0    0    0    0    0    0    0    0
      5     3    3    1    1    0    0    1    0    0    0    0    0    0    0
      6     0    0    0    0    0    0    0    0    0    0    0    0    0    0
      7     0    0    1    0    0    0    0    0    1    0    0    0    0    0
      8     0    0    0    0    0    0    0    0    0    0    0    0    0    0
      9     0    0    0    0    0    0    0    0    0    0    0    0    0    0
      10    0    0    0    0    0    0    0    0    0    0    0    0    0    0
      11    0    0    0    0    0    0    0    0    0    0    0    0    0    0
      33    0    0    0    0    0    0    0    0    0    0    0    0    0    0
        bathrooms
bedrooms 7.75    8
      0     0    0
      1     0    0
      2     0    0
      3     0    0
      4     0    0
      5     0    0
      6     0    0
      7     0    0
      8     0    0
      9     0    0
      10    0    0
      11    0    0
      33    0    0

, , view = 2

        bathrooms
bedrooms    0  0.5 0.75    1 1.25  1.5 1.75    2 2.25  2.5 2.75    3 3.25  3.5
      0     2    0    0    0    0    0    0    0    0    0    0    0    0    0
      1     0    0    2    3    0    0    0    1    1    0    0    0    0    0
      2     0    0    3   49    0   12   15    6    5    7    0    0    0    0
      3     0    0    1   27    1   21   80   42   43   83   23   19   17   11
      4     0    0    0    9    0    7   34   19   29   84   42   23   20   44
      5     0    0    0    1    0    3   11    2    9   14    8   10   19   23
      6     0    0    0    0    0    0    0    1    3    2    5    1    1    1
      7     0    0    0    0    0    0    0    0    0    0    0    1    0    0
      8     0    0    0    0    0    0    0    0    0    0    0    0    0    0
      9     0    0    0    0    0    0    0    0    0    0    0    0    0    0
      10    0    0    0    0    0    0    0    0    0    0    0    0    0    0
      11    0    0    0    0    0    0    0    0    0    0    0    0    0    0
      33    0    0    0    0    0    0    0    0    0    0    0    0    0    0
        bathrooms
bedrooms 3.75    4 4.25  4.5 4.75    5 5.25  5.5 5.75    6 6.25  6.5 6.75  7.5
      0     0    0    0    0    0    0    0    0    0    0    0    0    0    0
      1     0    0    0    0    0    0    0    0    0    0    0    0    0    0
      2     0    0    0    0    0    0    0    0    0    0    0    0    0    0
      3     3    4    2    1    0    0    0    0    0    0    0    0    0    0
      4     2    5    3    6    2    0    2    1    0    0    0    0    0    0
      5     5    3    4    2    3    1    0    2    0    0    0    0    0    0
      6     2    2    2    1    1    0    0    0    0    0    0    0    0    0
      7     0    0    1    1    0    0    0    0    0    0    0    0    1    0
      8     0    0    0    0    0    0    0    0    0    0    0    0    0    0
      9     0    0    0    0    0    0    0    0    0    0    0    0    0    0
      10    0    0    0    0    0    0    1    0    0    0    0    0    0    0
      11    0    0    0    0    0    0    0    0    0    0    0    0    0    0
      33    0    0    0    0    0    0    0    0    0    0    0    0    0    0
        bathrooms
bedrooms 7.75    8
      0     0    0
      1     0    0
      2     0    0
      3     0    0
      4     0    0
      5     0    0
      6     0    0
      7     0    0
      8     0    0
      9     0    0
      10    0    0
      11    0    0
      33    0    0

, , view = 3

        bathrooms
bedrooms    0  0.5 0.75    1 1.25  1.5 1.75    2 2.25  2.5 2.75    3 3.25  3.5
      0     0    0    0    0    0    0    0    0    0    0    0    0    0    0
      1     0    0    0    3    0    0    0    0    0    0    0    0    0    0
      2     0    0    1   12    0    0    9    1    2    6    1    0    3    0
      3     0    0    0    8    1    9   31   23   13   55   14   11    7    8
      4     0    0    0    3    0    4   21    8   11   43   26   13   26   27
      5     0    0    0    1    0    1    0    1    1    4    8    9    8   16
      6     0    0    0    0    0    0    1    0    0    0    3    1    2    0
      7     0    0    0    0    0    0    0    0    0    0    0    0    0    0
      8     0    0    0    0    0    0    0    0    0    0    0    0    0    1
      9     0    0    0    0    0    0    0    0    0    0    0    0    0    0
      10    0    0    0    0    0    0    0    0    0    0    0    0    0    0
      11    0    0    0    0    0    0    0    0    0    0    0    0    0    0
      33    0    0    0    0    0    0    0    0    0    0    0    0    0    0
        bathrooms
bedrooms 3.75    4 4.25  4.5 4.75    5 5.25  5.5 5.75    6 6.25  6.5 6.75  7.5
      0     0    0    0    0    0    0    0    0    0    0    0    0    0    0
      1     0    0    0    0    0    0    0    0    0    0    0    0    0    0
      2     0    0    0    0    0    0    0    0    0    0    0    0    0    0
      3     0    1    0    2    0    0    0    0    0    0    0    0    0    0
      4     8    6    9    5    0    2    0    0    0    0    0    0    0    0
      5     3    1    2    2    1    1    0    1    0    1    0    0    0    0
      6     1    1    1    2    1    1    0    0    0    0    0    0    0    0
      7     0    0    0    0    0    0    0    0    0    0    0    0    0    0
      8     0    0    0    0    0    0    0    0    0    0    0    0    0    0
      9     0    0    0    0    0    0    0    0    0    0    0    0    0    0
      10    0    0    0    0    0    0    0    0    0    0    0    0    0    0
      11    0    0    0    0    0    0    0    0    0    0    0    0    0    0
      33    0    0    0    0    0    0    0    0    0    0    0    0    0    0
        bathrooms
bedrooms 7.75    8
      0     0    0
      1     0    0
      2     0    0
      3     0    0
      4     0    0
      5     0    0
      6     0    1
      7     0    0
      8     0    0
      9     0    0
      10    0    0
      11    0    0
      33    0    0

, , view = 4

        bathrooms
bedrooms    0  0.5 0.75    1 1.25  1.5 1.75    2 2.25  2.5 2.75    3 3.25  3.5
      0     0    0    0    0    0    0    0    0    0    0    0    0    0    0
      1     0    0    1    4    1    0    0    0    0    0    0    0    0    0
      2     0    0    1    9    0    3    9    2    6    6    2    0    0    0
      3     0    0    0    2    0    3   11    4   11   30   13    9    8    9
      4     0    0    1    3    0    1   10    2    5   27   13    6   12    7
      5     0    0    0    0    0    0    3    1    1    6    4    3    6    5
      6     0    0    0    0    0    0    0    0    0    0    4    0    1    1
      7     0    0    0    0    0    0    0    0    0    0    0    0    0    1
      8     0    0    0    0    0    0    0    0    0    0    0    0    0    0
      9     0    0    0    0    0    0    0    0    0    0    0    0    0    0
      10    0    0    0    0    0    0    0    0    0    0    0    0    0    0
      11    0    0    0    0    0    0    0    0    0    0    0    0    0    0
      33    0    0    0    0    0    0    0    0    0    0    0    0    0    0
        bathrooms
bedrooms 3.75    4 4.25  4.5 4.75    5 5.25  5.5 5.75    6 6.25  6.5 6.75  7.5
      0     0    0    0    0    0    0    0    0    0    0    0    0    0    0
      1     0    0    0    0    0    0    0    0    0    0    0    0    0    0
      2     0    0    0    0    0    0    0    0    0    0    0    0    0    0
      3     1    2    1    1    0    0    0    0    0    0    0    0    0    0
      4     7    2    4    3    0    2    0    0    1    0    0    0    0    0
      5     3    3    2    3    2    1    1    1    0    1    1    0    1    0
      6     1    1    1    2    1    0    0    0    0    1    0    0    0    0
      7     0    0    0    0    0    0    0    0    0    0    0    0    0    0
      8     0    0    0    0    0    0    0    0    0    0    0    0    0    0
      9     0    0    0    0    0    0    0    0    0    0    0    0    0    0
      10    0    0    0    0    0    0    0    0    0    0    0    0    0    0
      11    0    0    0    0    0    0    0    0    0    0    0    0    0    0
      33    0    0    0    0    0    0    0    0    0    0    0    0    0    0
        bathrooms
bedrooms 7.75    8
      0     0    0
      1     0    0
      2     0    0
      3     0    0
      4     0    0
      5     0    0
      6     1    0
      7     0    1
      8     0    0
      9     0    0
      10    0    0
      11    0    0
      33    0    0

## Stat.desc()

Gives an elaborte descriptive statistics of the input object. Most of the statistics are commonly used

In [37]:
library(pastecs)

Warning message:
"package 'pastecs' was built under R version 3.4.2"Loading required package: boot

In [38]:
options(scipen = 999)

In [39]:
stat.desc(housing_prices)

             X                 id                          date
nbr.val          21613.0000000               21613.0000000 NA
nbr.null             0.0000000                   0.0000000 NA
nbr.na               0.0000000                   0.0000000 NA
min                  1.0000000             1000102.0000000 NA
max              21613.0000000          9900000190.0000000 NA
range            21612.0000000          9899000088.0000000 NA
sum          233571691.0000000      98994056770455.0000000 NA
median           10807.0000000          3904930410.0000000 NA
mean             10807.0000000          4580301520.8649883 NA
SE.mean             42.4401539            19566662.3846041 NA
CI.mean.0.95        83.1858320            38352101.4516255 NA
var           38928615.1666667 8274629486057861120.0000000 NA
std.dev           6239.2800199          2876565571.3120570 NA
coef.var             0.5773369                   0.6280297 NA
             price                bedrooms        bathrooms
nbr.val             21613.0000000 21613.000000000 21613.00000000
nbr.null                0.0000000    13.000000000    10.00000000
nbr.na                  0.0000000     0.000000000     0.00000000
min                 75000.0000000     0.000000000     0.00000000
max               7700000.0000000    33.000000000     8.00000000
range             7625000.0000000    33.000000000     8.00000000
sum           11672925008.0000000 72854.000000000 45706.25000000
median             450000.0000000     3.000000000     2.25000000
mean               540088.1417665     3.370841623     2.11475732
SE.mean              2497.2328034     0.006326366     0.00523872
CI.mean.0.95         4894.7604830     0.012400143     0.01026828
var          134782378397.2468872     0.865015010     0.59315129
std.dev            367127.1964827     0.930061831     0.77016316
coef.var                0.6797542     0.275913833     0.36418512
             sqft_living      sqft_lot          floors
nbr.val         21613.0000000      21613.000000 21613.000000000
nbr.null            0.0000000          0.000000     0.000000000
nbr.na              0.0000000          0.000000     0.000000000
min               290.0000000        520.000000     1.000000000
max             13540.0000000    1651359.000000     3.500000000
range           13250.0000000    1650839.000000     2.500000000
sum          44952873.0000000  326506890.000000 32296.500000000
median           1910.0000000       7618.000000     1.500000000
mean             2079.8997363      15106.967566     1.494308981
SE.mean             6.2473191        281.746112     0.003673054
CI.mean.0.95       12.2452062        552.243160     0.007199457
var            843533.6813682 1715658774.175470     0.291588007
std.dev           918.4408970      41420.511515     0.539988895
coef.var            0.4415794          2.741815     0.361363615
             waterfront       ... grade            sqft_above
nbr.val      21613.0000000000 ...  21613.000000000    21613.000000
nbr.null     21450.0000000000 ...      0.000000000        0.000000
nbr.na           0.0000000000 ...      0.000000000        0.000000
min              0.0000000000 ...      1.000000000      290.000000
max              1.0000000000 ...     13.000000000     9410.000000
range            1.0000000000 ...     12.000000000     9120.000000
sum            163.0000000000 ... 165488.000000000 38652488.000000
median           0.0000000000 ...      7.000000000     1560.000000
mean             0.0075417573 ...      7.656873178     1788.390691
SE.mean          0.0005884979 ...      0.007995578        5.632751
CI.mean.0.95     0.0011534993 ...      0.015671923       11.040607
var              0.0074852255 ...      1.381703289   685734.667269
std.dev          0.0865171977 ...      1.175458757      828.090978
coef.var        11.4717557944 ...      0.153516812        0.463037
             sqft_basement  yr_built          yr_renovated
nbr.val        21613.000000    21613.00000000   21613.000000
nbr.null       13126.000000        0.00000000   20699.000000
nbr.na             0.000000        0.00000000       0.000000
min                0.000000     1900.00000000       0.000000
max             4820.000000     2015.00000000    2015.000000
range           4820.000000      115.00000000    2015.000000
sum          6300385.000000 42599334.00000000 1824186.000000
median             0.000000     1975.00000000       0.000000
mean             291.509045     1971.00513580      84.402258
SE.mean            3.010436        0.19980063       2.732259
CI.mean.0.95       5.900677        0.39162397       5.355429
var           195872.668401      862.79726217  161346.211862
std.dev          442.575043       29.37341080     401.679240
coef.var           1.518221        0.01490276       4.759105
             zipcode               lat               long
nbr.val           21613.0000000000   21613.000000000    21613.0000000000
nbr.null              0.0000000000       0.000000000        0.0000000000
nbr.na                0.0000000000       0.000000000        0.0000000000
min               98001.0000000000      47.155900000     -122.5190000000
max               98199.0000000000      47.777600000     -121.3150000000
range               198.0000000000       0.621700000        1.2040000000
sum          2119758513.0000000000 1027915.415100000 -2641408.9430000000
median            98065.0000000000      47.571800000     -122.2300000000
mean              98077.9398047471      47.560052519     -122.2138964049
SE.mean               0.3639460873       0.000942523        0.0009579273
CI.mean.0.95          0.7133611748       0.001847415        0.0018776081
var                2862.7878348129       0.019199902        0.0198326220
std.dev              53.5050262575       0.138563710        0.1408283424
coef.var              0.0005455358       0.002913447       -0.0011523104
             sqft_living15    sqft_lot15
nbr.val         21613.0000000     21613.000000
nbr.null            0.0000000         0.000000
nbr.na              0.0000000         0.000000
min               399.0000000       651.000000
max              6210.0000000    871200.000000
range            5811.0000000    870549.000000
sum          42935359.0000000 275964632.000000
median           1840.0000000      7620.000000
mean             1986.5524916     12768.455652
SE.mean             4.6620944       185.725530
CI.mean.0.95        9.1380489       364.035737
var            469761.2399453 745518225.340401
std.dev           685.3913043     27304.179631
coef.var            0.3450155         2.138409

## AGGREGRATE()

Aggregate works liek groupbys in sql. Here, we are grouping data based on bedrooms. 
We're interested in column prices, bathroom, and sqft_living. Finally, we're applying the mean function on the subset of data for every group of data

In [40]:
aggregate(housing_prices[c("price", "bathrooms", "sqft_living")], by = list(bedrooms = housing_prices$bedrooms), mean)

   bedrooms price     bathrooms sqft_living
1   0        409503.8 0.8269231 1707.8462
2   1        317642.9 1.0665829  884.6131
3   2        401372.7 1.4017210 1239.7529
4   3        466232.1 1.9683937 1805.8372
5   4        635419.5 2.4364284 2554.6497
6   5        786599.8 2.7785759 3047.5453
7   6        825520.6 3.0680147 3284.3419
8   7        951184.7 3.6513158 3974.2105
9   8       1105076.9 3.5576923 3800.0000
10  9        893999.8 4.4166667 3775.0000
11 10        819333.3 3.4166667 3706.6667
12 11        520000.0 3.0000000 3000.0000
13 33        640000.0 1.7500000 1620.0000